.wrapper {
    padding: 25px 30px 25px 30px;
    width:100%;
    position: fixed;
    top: 0;
    z-index: 2;
}


.header__logo {
    width: 50px;
    height: 50px;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
}

.header__logo:hover {
  cursor: pointer;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
} 

.hamburger {
    padding-top:15px;
    /* padding: 15px 15px; */
    display: inline-block;
    cursor: pointer;
    transition: 0.15s;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
    /* transition-property: opacity, filter; */
    /* transition-duration: 0.15s; */
    /* transition-timing-function: linear; */
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #000; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 2px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  
  .hamburger:hover  .hamburger-inner::before{
       top: -14px;
       transition: 0.2s;
       -webkit-transition: 0.2s;
       -moz-transition: 0.2s;
       -ms-transition: 0.2s;
       -o-transition: 0.2s;}
  .hamburger:hover  .hamburger-inner::after{
       bottom: -14px;
       transition: 0.2s;
       -webkit-transition: 0.2s;
       -moz-transition: 0.2s;
       -ms-transition: 0.2s;
       -o-transition: 0.2s;}
  
  .hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--spin .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
    .hamburger--spin .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--spin.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
    .hamburger--spin.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  


.sidenav {
  height: 100%;
  width: 0;
  padding-left: 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 70px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.social-items {
  position: absolute;
  bottom: 70px;
  /* left: 0; */
  min-width: 800px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  overflow: hidden;
}

.social-items li {
  float: left;
}

.social-items li a {
  display: block;
  text-align: center;
  margin-right: 60px;
  text-decoration: none;
}

.social-items li a:hover {
  color: #111111;
  text-decoration: underline;
}

.menu-items {
  width: 200px;
  padding-right: 200px !important;
  padding-top: 20px;
  list-style-type: none;
  font-size: 24px;
}

.menu-items li {
  margin-bottom: 60px !important;
}

.menu-items li a {
  text-decoration: none;
}

.menu-items li a:hover {
  color: #111111;
  text-decoration: underline;
}
