<div class="wrapper">
  <h1 class="title">
      {{footerTitle}} 
      <a href="mailto:perryjsteward@gmail.com" class>Email me</a>.
  </h1>
  <ul class="social-items">
      <li><a target="_blank" href="https://www.instagram.com/_perrynaise/"><h2>Instagram</h2></a></li>
      <li><a target="_blank" href="https://dribbble.com/perrah"><h2>Dribble</h2></a></li>
      <li><a target="_blank" href="https://github.com/perryjsteward"><h2>Github</h2></a></li>
      <li><a target="_blank" href="https://medium.com/@perryjsteward"><h2>Medium</h2></a></li>
  </ul>
  
</div>