<div id="about" class="wrapper">
  <h1 class="title">{{aboutTitle}}</h1>
  <img src="./assets/about-image.png" class="img" />
  <div class="about-wrapper">
    <h2 class="sub-title">{{aboutSubtitle}}</h2>
    <p class="about-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur erat sed vehicula mollis. Quisque diam dolor, sollicitudin non felis dignissim, vehicula pulvinar lacus. 
    </p>
     <p class="about-content">
       augue sapien, viverra porta ante at, finibus euismod risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus et urna nisl. Cras scelerisque, neque a mollis dapibus, enim sem fringilla odio, et bibendum sapien ligula et tortor. Aenean varius, metus ac consectetur eleifend, nulla odio semper risus, non mollis augue dui in diam. Quisque molestie ullamcorper congue. Nullam ultricies aliquam massa non ultrices. Ut molestie, odio nec suscipit efficitur, tellus enim facilisis est, vel viverra mi eros a dolor. 
    </p>
  </div>
</div>