.wrapper {
    padding-top: 100px;
    width: auto !important;
    min-width: auto !important;
    margin-left: 110px !important;
    margin-right: 110px !important;
}

.about-wrapper{
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.title {
    font-weight: lighter;
    font-size: 58px;
    letter-spacing: 2px;
    line-height: 120%;
}

.sub-title {
    font-weight: lighter;
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 140%;
}

.about-content {
    font-weight: lighter;
    font-size: 22px;
    line-height: 180%;
    /* letter-spacing: 2px; */
}

.img {
    margin-top: 40px;
    width: 100%;
}