.box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  
  .box .row.header {
    flex: 0 1 auto;
  }
  
  .box .row.content {
    flex: 1 1 auto;
    padding-top: 70px;
  }

  .box .row.about {
    flex: 1 1 auto;
    /* padding-top: 70px; */
  }
  
  .box .row.footer {
    flex: 0 1 40px;
  }

  .foo {
      height: 800px;
      width: 100%;
  }